html {
  padding: 0;
  margin: 0; }

body {
  margin: 0;
  padding: 88px 0 0;
  height: auto;
  background-color: #222; }

html, body {
  overflow-x: hidden; }

.bg-light {
  background-color: #FAFAF4;
  padding-top: 120px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "BioRhyme", serif; }

p {
  font-family: "Caveat", cursive;
  font-size: 24px; }

footer {
  background-image: url("../assets/thumbnail_MARINADE.jpg");
  height: auto;
  border-top: 10px solid #FF652F;
  padding-top: 30px; }
  footer h3, footer h5, footer p, footer a {
    text-shadow: 2px 2px 2px black; }
  footer p {
    margin-bottom: 0;
    color: #FAFAF4; }
  footer h3, footer h5 {
    color: #FF652F; }
  footer h5 {
    text-align: center; }
  footer a {
    text-decoration: none;
    color: #FAFAF4;
    font-size: 40px; }
    footer a:hover {
      color: #FF652F; }
  footer .footer-top {
    padding-bottom: 20px; }
  footer .footer-bottom {
    background-color: #222;
    padding: 0; }
  footer .copyright {
    font-size: 18px;
    text-align: center;
    padding: 20px 0; }

header .logo {
  width: 200px;
  background: rgba(0, 0, 0, 0.1); }
  @media (min-width: 300px) and (max-width: 500px) {
    header .logo {
      width: 150px; } }

/*Hero Section */
#hero {
  padding: 0;
  height: auto; }
  #hero .jumbotron {
    background-image: url("../assets/brisket.jpg");
    background-position: center;
    background-size: cover;
    margin: 0;
    padding-top: 250px; }
    #hero .jumbotron h1 {
      padding-bottom: 50px;
      font-size: 4.3em;
      font-family: "Caveat", cursive;
      color: #FAFAF4;
      text-shadow: 5px 5px 5px black; }
      @media (min-width: 300px) and (max-width: 500px) {
        #hero .jumbotron h1 {
          font-size: 2.5em; } }
    #hero .jumbotron a {
      margin-bottom: 25px; }

#info-bar {
  background-color: #5F817A;
  padding: 10px 0px; }
  #info-bar p {
    font-family: "BioRhyme", serif;
    font-size: 22px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    color: #FAFAF4;
    margin-bottom: 0;
    letter-spacing: 0.03em; }
  #info-bar .phone {
    color: #FAFAF4;
    text-shadow: 1px 1px 1px black;
    font-size: 24px;
    letter-spacing: 0.04em; }
  #info-bar a[href^=tel] {
    color: inherit; }

#body-panels {
  background-color: #FAFAF4; }
  #body-panels ul {
    padding: 0;
    margin-bottom: 0; }
  #body-panels .box {
    width: 100%;
    height: 175px;
    list-style: none; }
  #body-panels .box:first-of-type {
    background-image: url("../assets/thumbnail_PEACH HABANERO.jpg");
    background-position: center; }
  #body-panels .box:nth-of-type(2) {
    background-image: url("../assets/thumbnail_pattern4.jpg");
    background-position: left; }
  #body-panels .box:nth-of-type(3) {
    background-image: url("../assets/thumbnail_Autumn Wood_9.jpg");
    background-position: right; }
  #body-panels .box:last-of-type {
    background-image: url("../assets/thumbnail_MARINADE.jpg");
    background-position: center; }
  #body-panels .overlay.yellow {
    position: relative;
    top: 0;
    width: 100%;
    height: 175px;
    text-shadow: 4px 2px 5px black;
    background-color: rgba(142, 127, 43, 0.7); }
  #body-panels .overlay.tan {
    position: relative;
    top: 0;
    width: 100%;
    height: 175px;
    text-shadow: 4px 2px 5px black;
    background-color: rgba(142, 129, 117, 0.5); }
  #body-panels .overlay.orange {
    position: relative;
    top: 0;
    width: 100%;
    height: 175px;
    text-shadow: 4px 2px 5px black;
    background-color: rgba(191, 68, 37, 0.5); }
  #body-panels .overlay.green {
    position: relative;
    top: 0;
    width: 100%;
    height: 175px;
    text-shadow: 4px 2px 5px black;
    background-color: rgba(95, 129, 122, 0.5); }
  #body-panels h1 {
    text-align: center;
    font-size: 3.6rem;
    padding-top: 60px;
    color: #FAFAF4;
    letter-spacing: 0.1em;
    margin-bottom: 0; }
    @media (min-width: 300px) and (max-width: 767px) {
      #body-panels h1 {
        font-size: 2.7rem; } }
  #body-panels .panel {
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.7);
    display: none;
    background-color: #FAFAF4;
    padding: 5% 15% 5%; }
    @media (min-width: 300px) and (max-width: 500px) {
      #body-panels .panel {
        padding: 10% 7% 10%; } }
    #body-panels .panel h2, #body-panels .panel h3, #body-panels .panel h4, #body-panels .panel h5, #body-panels .panel h6 {
      color: #FF652F;
      margin-bottom: 10px; }
    #body-panels .panel h4 {
      padding: 20px 0 25px 0; }
    #body-panels .panel h6 {
      margin-top: 10px; }
    #body-panels .panel p {
      color: #333;
      margin-bottom: 0;
      padding-bottom: 20px;
      font-size: 26px;
      line-height: 1.2em; }
    #body-panels .panel img {
      padding: 10px 0 30px 0;
      max-width: 275px;
      height: auto; }
    #body-panels .panel a {
      margin-top: 32px; }

#locations {
  background-color: #FAFAF4;
  border-top: 10px solid #FF652F;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #FF652F; }
  #locations h1 {
    margin-top: 0;
    padding: 40px 0 10px 0; }
  #locations h3 {
    padding-bottom: 20px; }
  #locations h4 {
    padding: 40px 0 50px 0;
    margin-bottom: 0; }
  #locations p {
    color: #FAFAF4;
    text-shadow: 1px 1px 2px #555; }
  #locations .card {
    margin: 0 auto 10px;
    width: 18rem; }
  #locations .card-body {
    background-color: #FF8055; }

#menu-image {
  padding: 0 20px; }
  #menu-image img {
    width: 400px;
    height: 400px; }
    @media (min-width: 300px) and (max-width: 500px) {
      #menu-image img {
        width: 240px;
        height: 240px; } }
  #menu-image #slideshow {
    margin: 50px auto;
    position: relative;
    width: 400px;
    height: 400px;
    padding: 80px 10px 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); }
    @media (min-width: 300px) and (max-width: 500px) {
      #menu-image #slideshow {
        width: 240px;
        height: 240px; } }
  #menu-image #slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px; }
  #menu-image h3 {
    padding-top: 80px;
    text-align: center;
    color: #FF652F; }
    @media (min-width: 300px) and (max-width: 500px) {
      #menu-image h3 {
        padding-top: 20px; } }
  #menu-image p {
    text-align: justify; }

#menu-items {
  padding: 0 auto 50px;
  border-top: 10px solid #5F817A; }
  #menu-items h2, #menu-items h3, #menu-items h4, #menu-items h5, #menu-items h6 {
    color: #FF652F; }
  #menu-items h2 {
    padding-top: 40px; }
  #menu-items p {
    color: #333;
    line-height: 1.2em; }
  #menu-items .flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  #menu-items .flex-wrap {
    flex-wrap: wrap; }

.btn-lg {
  background-color: #FF652F;
  box-shadow: 4px 2px 5px black;
  font-family: "BioRhyme", serif;
  color: #FAFAF4; }
  .btn-lg:hover {
    color: #333; }

.btn-hero {
  display: block;
  width: 150px;
  margin: auto; }

/*Main Nav */
nav {
  background-image: url("../assets/thumbnail_MARINADE.jpg");
  height: auto; }
  nav .nav-item {
    padding: 7px 20px;
    color: #FAFAF4;
    text-shadow: 4px 2px 5px black;
    text-transform: uppercase;
    font-family: "BioRhyme", serif;
    font-size: 24px; }
    nav .nav-item:hover {
      color: #FF652F; }
  nav .active {
    color: #FF652F; }
  nav .navbar-toggler {
    background: #FAFAF4;
    outline: none; }
  nav .navbar-toggler-icon {
    background-color: #FAFAF4; }

/*# sourceMappingURL=app.css.map */
