body {
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-family: "BioRhyme", serif; }

p {
  font-family: "Caveat", cursive;
  font-size: 24px; }

header .logo {
  width: 150px; }

/*Hero Section */
#hero {
  background-image: url("../assets/brisket.jpg");
  background-size: cover;
  height: 500px; }
  #hero .button {
    padding-top: 350px; }

#info-bar {
  background-color: #5F817A; }
  #info-bar p {
    font-family: "BioRhyme", serif;
    font-size: 22px;
    text-transform: uppercase;
    text-shadow: 4px 2px 5px black;
    color: #FAFAF4;
    padding-top: 15px; }
  #info-bar .right {
    text-align: right; }
  #info-bar .left {
    text-align: left; }
  #info-bar span.hours {
    padding-left: 25px; }

#body-panels ul {
  padding: 0; }
#body-panels .box {
  width: 100%;
  height: 175px;
  list-style: none; }
#body-panels .box:first-of-type {
  background-image: url("../assets/test.jpg"); }
#body-panels .box:nth-of-type(2) {
  background-image: url("../assets/test.jpg"); }
#body-panels .box:nth-of-type(3) {
  background-image: url("../assets/test.jpg"); }
#body-panels .box:last-of-type {
  background-image: url("../assets/test.jpg"); }
#body-panels .overlay.yellow {
  position: relative;
  top: 0;
  width: 100%;
  height: 175px;
  text-shadow: 4px 2px 5px black;
  background-color: rgba(142, 127, 43, 0.5); }
#body-panels .overlay.tan {
  position: relative;
  top: 0;
  width: 100%;
  height: 175px;
  text-shadow: 4px 2px 5px black;
  background-color: rgba(142, 129, 117, 0.5); }
#body-panels .overlay.green {
  position: relative;
  top: 0;
  width: 100%;
  height: 175px;
  text-shadow: 4px 2px 5px black;
  background-color: rgba(95, 129, 122, 0.5); }
#body-panels .overlay.orange {
  position: relative;
  top: 0;
  width: 100%;
  height: 175px;
  text-shadow: 4px 2px 5px black;
  background-color: rgba(191, 68, 37, 0.5); }
#body-panels h1 {
  text-align: center;
  font-size: 68px;
  padding-top: 45px;
  color: #FAFAF4;
  letter-spacing: 0.1em;
  margin-bottom: 0; }
#body-panels .panel {
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.7);
  display: none;
  background-color: #FAFAF4;
  padding: 50px 150px 60px; }
  #body-panels .panel h2 {
    color: #FF652F;
    text-shadow: 1px 1px 2px #777; }
  #body-panels .panel p {
    color: #8e8175;
    margin-bottom: 0;
    padding-top: 30px; }
  #body-panels .panel img {
    padding-top: 10px; }
  #body-panels .panel a {
    margin-top: 32px; }

.btn-lg {
  background-color: #FF652F;
  box-shadow: 4px 2px 5px black;
  font-family: "BioRhyme", serif;
  color: #FAFAF4; }
  .btn-lg:hover {
    color: #333; }

.btn-hero {
  display: block;
  width: 150px;
  margin: auto; }

/*Main Nav */
nav {
  background-image: url("../assets/thumbnail_MARINADE.jpg");
  opacity: 0.9;
  height: auto; }
  nav .nav-item {
    padding: 7px 20px;
    color: #FAFAF4;
    text-shadow: 4px 2px 5px black;
    text-transform: uppercase;
    font-family: "BioRhyme", serif;
    font-size: 24px; }
  nav .navbar-toggler {
    background: #FAFAF4; }
  nav .navbar-toggler-icon {
    background-color: #FAFAF4; }

nav.navbar {
  padding: 3rem 1rem; }

/*# sourceMappingURL=app.css.map */
