html
  padding: 0
  margin: 0

body
  margin: 0
  padding: 113px 0 0
  background-color: #222

.bg-light
  background-color: $text-almond
  padding-top: 150px
  

h1,h2,h3,h4,h5,h6
  font-family: $font-stack-primary

p
  font-family: $font-stack-second
  font-size: 24px
