footer
  background-image: url("../assets/thumbnail_MARINADE.jpg")
  height: auto
  border-top: 10px solid $button-color
  padding-top: 30px
  h3,h5,p,a
    color: $text-almond
    text-shadow: 2px 2px 2px black
  p
    margin-bottom: 0
  h5
    text-align: center
  a
    text-decoration: none
    color: $text-almond
    font-size: 40px
    &:hover
        color: $button-color
  .footer-top
    padding-bottom: 20px

  .footer-bottom
    background-color: #222
    padding: 0
  .copyright
    font-size: 18px
    text-align: center
    padding: 20px 0
